<div class="container">
    <div class="row">
      <% @communities.each do |community| %>
         <div class="col">
            <%= link_to community_path(community) do %>
               <div class="card" style="width: 14rem;">
                  <div class="card-image">
                    <%= attachment_image_tag community, :intro_image, fallback:"no-image.jpg", class:"rounded-top"%>
                  </div>

                  <div class="card-body">
                    <%= community.title %>
                  </div>
               </div>
            <%end%>
          </div>         　
       <%end%>
    </div>
</div>

    <style>
      .intro_image {
        width: 222px;
        height: 180px;

      }



      .row {
         padding-top: 30px;
      }

      .card {
        height:330px;
      }

    </style>
