<div class="container">
    <div class="row">
      <% @communities.each do |community| %>
         <div class="col-3">
            <%= link_to community_path(community) do %>
               <div class="card" style="width: 15rem;">
                  <div class="card-image">
                    <%= attachment_image_tag community, :intro_image, fallback:"no-image.jpg", class:"rounded-top"%>
                  </div>

                  <div class="card-body">
                    <%= community.title %>
                  </div>
               </div>
            <%end%>
          </div>         　
       <%end%>
    </div>
</div>

    <style>
      .intro_image {
        width: 238px;
        height: 200px;
      
      }

      .container {
        padding-top: 30px;
      }

      .row {
         padding-top: 50px;
      }

      .card {
        weight:238px;
        height:360px;
      }

    </style>
